<div class="image-container">
    <div class="image-wrapper">
        <p class="text-over-image">vélo fixe</p>
        <img src="{{ asset('assets/cardio velo.gif') }}" alt="Description de l'image" class="img2">
        <p class="text-under-image">vélo fixe cardio 20 min</p>
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/tapis-de-course-inclinaison.gif') }}" alt="Description de l'image" class="img2">
 <p class="text-under-image">tapis-de-course-inclinaison 8x 8x 8x</p>
    <div class="image-wrapper">
        <img src="{{ asset('assets/pertedepoo1.gif') }}" alt="Description de l'image" class="img2">
                <p class="text-under-image"> perte de poids 8x 8x 8x</p>
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/ecartes-avec-sangles-de-suspension.gif') }}" alt="Description de l'image" class="img2">
   <p class="text-under-image"> ecartes-avec-sangles-de-suspension 8x 8x 8x</p>
    </div> 
    <div class="image-wrapper">
        <img src="{{ asset('assets/gainage pour le ventre.gif') }}" alt="Description de l'image" class="img2">
   <p class="text-under-image"> gainage pour le ventre 8x 8x 8x</p>
    </div>
       </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/perdre de ventre.png') }}" alt="Description de l'image" class="img2">
   <p class="text-under-image"> perdre de ventre 8x 8x 8x</p>
    </div>
</div>
<link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('assets/css/styles.css') }}">
