<div class="image-container">
    <div class="image-wrapper">
        <p class="text-over-image">vélo fixe</p>
        <img src="{{ asset('assets/assault-runner-skillmill.gif') }}" alt="Description de l'image" class="img2">
       <p class="text-under-image">vélo fixe cardio 20 min</p>
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/ciseaux.gif') }}" alt="Description de l'image" class="img2">
 <p class="text-under-image"> ciseaux 8x 8x 8x</p>
    <div class="image-wrapper">
        <img src="{{ asset('assets/gainage-ours-bear-plank.gif') }}" alt="Description de l'image" class="img2">
         <p class="text-under-image">gainage-ours-bear-plank 8x 8x 8x</p>
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/planche-abdos.gif') }}" alt="Description de l'image" class="img2">
        <p class="text-under-image"> ciseaux 8x 8x 8x</p>
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/gainage pour le ventre.gif') }}" alt="Description de l'image" class="img2">
        <p class="text-under-image"> planche-abdos 8x 8x 8x</p>
    </div>
       </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/perdre de ventre.png') }}" alt="Description de l'image" class="img2">
        <p class="text-under-image">  perdre de ventre 8x 8x 8x</p>
    </div>
</div>
<link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('assets/css/styles.css') }}">
