<div class="image-container">
    <div class="image-wrapper">
        <img src="{{ asset('assets/cardio velo.gif') }}" alt="Description de l'image" class="img2">
        <div class="text-under-image">vélo fixe cardio 20 min</div> <!-- Phrase ajoutée -->
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/cercles-jambes-tendues.gif') }}" alt="Description de l'image" class="img2">
        <div class="text-under-image">cercles jambes tendues 8x 8x 8x</div> <!-- Phrase ajoutée -->
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/ciseaux.gif') }}" alt="Description de l'image" class="img2">
        <div class="text-under-image">ciseaux 8x 8x 8x</div> <!-- Phrase ajoutée -->
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/crunch-abdominaux-au-sol-exercice-musculation.gif') }}" alt="Description de l'image" class="img2">
        <div class="text-under-image">crunch-abdominaux 8x 8x 8x</div> <!-- Phrase ajoutée -->
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/ecartes-avec-sangles-de-suspension.gif') }}" alt="Description de l'image" class="img2">
        <div class="text-under-image">ecartes avec sangles de suspension 8x 8x 8x</div> <!-- Phrase ajoutée -->
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('assets/gainage-ours-bear-plank.gif') }}" alt="Description de l'image" class="img2">
        <div class="text-under-image">gainage ours bear plank 8x 8x 8x</div> <!-- Phrase ajoutée -->
    </div>
</div>
<link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('assets/css/styles.css') }}">
