<div class="image-container">
    <div class="image-wrapper">
        <p class="text-over-image">vélo fixe</p>
        <img src="{{ asset('assets/cardio velo.gif') }}" alt="Description de l'image" class="img2">
        <p class="text-under-image">vélo fixe cardio 20 min</p>
    </div>
    <div class="image-wrapper">
        <p class="text-over-image">step up</p>
        <img src="{{ asset('assets/step up.gif') }}" alt="Description de l'image" class="img2">
        <p class="text-under-image">step up 8x 8x 8x</p>
    </div>
    <div class="image-wrapper">
        <p class="text-over-image">squat</p>
        <img src="{{ asset('assets/squat.gif') }}" alt="Description de l'image" class="img2">
        <p class="text-under-image">squat 8x 8x 8x</p>
    </div>
    <div class="image-wrapper">
        <p class="text-over-image">musculation jambes</p>
        <img src="{{ asset('assets/musculation jambes.gif') }}" alt="Description de l'image" class="img2">
        <p class="text-under-image">musculation jambes 8x 8x 8x</p>
    </div>
    <div class="image-wrapper">
        <p class="text-over-image">Kettlebell-Thruster</p>
        <img src="{{ asset('assets/Kettlebell-Thruster.gif') }}" alt="Description de l'image" class="img2">
        <p class="text-under-image">Kettlebell-Thruster 8x 8x 8x</p>
    </div>
    <div class="image-wrapper">
        <p class="text-over-image">jambes3</p>
        <img src="{{ asset('assets/jambes3.webp') }}" alt="Description de l'image" class="img2">
        <p class="text-under-image">jambes3 8x 8x 8x</p>
    </div>
    <!-- Ajoutez les autres images de la même manière -->
</div>
<link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('assets/css/styles.css') }}">
